<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Courses/Certification</title>
    <link rel="stylesheet" href="./static/style.css">
</head>
<body>
 <header>
      <h1>Courses/Certification</h1>
      </header>
            <p class="subtitle">
                <h6>click on the link to view the  certification/Details</h6>
                     <a href="./static/assets/Docs/ISTQBSampleCerti.png" class="link">
                            ISTQB:Beginner Level
                     </a>
                     <a href="static/assets/Docs/CV-UmaraniJ.rtf" class="link">
                        Selenium with C#-udemy
                     </a>

                    <a href="#" class="link">SQL-Udemy</a>
                    <a href="#" class="link">Python Developer ZTM course</a>
            </p>
      <form>
            <input type="button" value="BACK" onclick="history.back()">
      </form>
</body>
</html>