<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HappyHomeMaker</title>
    <link rel="stylesheet" href="./static/style.css">
</head>
<body>
 <header>
      <h1>HappyHomeMaker</h1>
      </header>
            <p class="subtitle">
                We are family of 4.My husband is superpower in our family.-->
                My 7yr old daughter is kindest of all.Finally,our fun spot My son:) and he is in Terrible 2 Phase.
                so yes I am a MULTITASKER :)who works great underpressure.We are eternally greatful to UNIVERSE!
            </p>
      <form>
            <input type="button" value="BACK" onclick="history.back()">
      </form>
</body>
</html>