<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WorkExperience</title>
    <link rel="stylesheet" href="./static/style.css">
</head>
<body>
 <header>
      <h1>Work Experience</h1>
      </header>
            <p class="subtitle">
                    Senior Software Engineer(QA):2010-2015
                    Aspire Systems PVT Ltd:Siruseri,Chennai
            </p>
      <form>
            <input type="button" value="BACK" onclick="history.back()">
      </form>
</body>
</html>